<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.myplate.dao.MyplateMapper">
<select id="queryInfo" resultType="java.util.Map">
     SELECT t.user_name,i.user_name as nickName,i.user_sex,i.user_height,i.user_weight,e.power_Level,e.basal_metabolism
		FROM test.tb_mk_nutri_evaluate e,test.ts_common_user t,test.ts_person_info i
		where e.create_by=t.id and e.create_by=t.id
		and t.user_name=#{create_by} 
		and i.user_sex=#{female} 
		and e.power_Level=#{power_level};
  </select>
</mapper>