<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.myplate.dao.UserMapper" >
  <resultMap id="BaseResultMap" type="com.myplate.pojo.User" >
    <result column="ID" property="id" jdbcType="INTEGER" />
    <result column="USER_NAME" property="userName" jdbcType="VARCHAR" />
    <result column="USER_PWD" property="pwd" jdbcType="VARCHAR" />
    <result column="ADDRESS" property="address" jdbcType="VARCHAR" />
    <result column="SEX" property="sex" jdbcType="VARCHAR" />
    <result column="USER_TYPE" property="userType" jdbcType="VARCHAR" />
  </resultMap> 
  <select id="getUserByUserName" resultMap="BaseResultMap" >
    select * from TS_COMMON_USER where 1=1
    <if test="userName != null and userName != ''">
		and USER_NAME like '%${userName}%'
	</if>
  </select>
  <insert id="save" parameterType="com.myplate.pojo.User">
		insert into TS_COMMON_USER(user_name,user_pwd,user_type) 
		values(#{userName},#{pwd},#{userType})
	</insert>
</mapper>