@CHARSET "UTF-8";
.content{
	background-color: #f3f3f3;
    text-align: center;
    width: 80%;
    height:600px;
    float: right;
}
.content-detail{
	width: 85%;
    height: 550px;
    border-top: 3px solid #fe6e4c;
    background-color: #ffffff;
    margin-bottom: 40px;
    padding: 20px 20px;
    display: block;
    margin-right: auto;
    margin-left: 23px;
}
.mt-intro-section{
	padding: 15px 19px;
    margin-left: 18px;
}
.bmi_img{
	width: 54%;
    height: 73%;
    margin-top: -15px;
    float: left;
}
.pull-left{
	float: left;
    width: 161px;
    height: 110px;
    margin: -10px;
}
.text{
	margin-left: -4px;
    margin-top: 10px;
    text-align: left;
    font-size: 15.5px;
}
.mt-detail-header{
	color: white;
    background-color: #ff7f55;
    padding: 5px 5px 5px 20px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    width:150px;
    margin-left: 22px;
	
}
.mt-detail-content{
	padding: 10px 180px;
	margin-right: auto;
    margin-left: auto;
}
.row{
	float: left;
}
.input-text{
	width: 61px;
    height: 24px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.mt-test{
	margin-left: -42px;
}

.mt-test-button{
	margin-top: 16px;
    margin-left: 65px;
    width: 144px;
    color: #fff;
    background-color: #ff6d4b;
    border-color: #ff6d4b;
    border-radius: 15px;
}
.test-result{
	margin-top: 89px;
	padding-top: 2px;
}
.label-left{
	width: 20%;
    float: left;
}
.label-right{
    float: left;
}
.test-result-detail{
	width: auto;
    height: 100px;
    float: initial;
    padding: 10px 10px 10px 10px;
}
.test-result-row{
	float: left;
    width: 70%;
    padding: 2px 0px 0px 200px;
}
.table-bordered{
	border-collapse: collapse;
    width: 95%;
}
.table-bordered td{
    border: 1px solid #ddd;
 }
p{
	margin-top: 90px;
    float: left;
    height: 10px;
    text-align: center;
    margin-left: -103px;
}
