@CHARSET "UTF-8";
.content{
	background-color: #f3f3f3;
    text-align: center;
    width: 80%;
    height:600px;
    float: right;
}
.content-detail{
	width: 85%;
    height: 550px;
    border-top: 3px solid #fe6e4c;
    background-color: #ffffff;
    margin-bottom: 40px;
    padding: 20px 20px;
    display: block;
    margin-right: auto;
    margin-left: 23px;
}
.content-header{
	margin: 20px 0 20px 0;
}
.content-header-text{
	color: white;
    background-color: #ff7f55;
    padding: 5px 5px 5px 20px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    width: 154px;
    margin-left: 10px;
    height: 20px;
}
.content-container{
	width: 80%;
    margin: 0 auto;
    height:125px;
}
.row{
	margin-right: -15px;
    margin-left: 37px;
    float: left;
}
.energy-row{
	height: 30px;
    line-height: 30px;
    width: 100%;
}
.row-left{
	width: 20%;
	float: left;
}
.row-center{
	width: 40%;
	float: left;
}
.row-right{
	width: 18%;
    float: left;
}
.content-next{
	margin-top: 20px;
    width: 210px;
    color: #fff;
    background-color: #ff6d4b;
    border-color: #ff6d4b;
    padding: 6px 12px;
    border: 1px solid transparent;
    border-radius: 4px;
    font-family: inherit;
    font-size: 14px;
}
.mt-tip-icon{
	width: 16px;
	height：16px;
}
